@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@400;500;600;700;800&display=swap');

// -- colors --
$primary-color: #2A6384;
$dark-blue:#012C44;
$dark-color: #1E1E1E;

$light-blue:#DEEFFF;
$light-green: #E0F3D5;
$light-red:#FFE7E7;
$light-yellow:#FEFFDE;

$green: #496F32;
$red:#BE5050;
$yellow: #C0790E;

// -- typography --
$font-titles: 'Paytone One', sans-serif;
$font-base: 'Poppins', sans-serif;

$b-title: 4rem;
$m-title: 2.5rem;
$s-title: 1.5rem;
$body-text:1.2rem